In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

In [2]:
n = 11000000
k = [0]*n
k2 = [0]*n
j = [0]*n
j[1] = 1
k[1] = 1
k2[1] = 1
for i in range(2,n):
    j[i] = i
    k[i] = k[i - 1] + 1/i
    k2[i] = k2[i - 1] + 1/(i*i)
sums = pd.DataFrame({'n':j, 'sum{1/k}':k, 'sum{1/k^2}':k2})
sums.tail(50)

                 n   sum{1/k}  sum{1/k^2}
10999950  10999950  16.790617    1.644934
10999951  10999951  16.790617    1.644934
10999952  10999952  16.790617    1.644934
10999953  10999953  16.790617    1.644934
10999954  10999954  16.790617    1.644934
10999955  10999955  16.790617    1.644934
10999956  10999956  16.790618    1.644934
10999957  10999957  16.790618    1.644934
10999958  10999958  16.790618    1.644934
10999959  10999959  16.790618    1.644934
10999960  10999960  16.790618    1.644934
10999961  10999961  16.790618    1.644934
10999962  10999962  16.790618    1.644934
10999963  10999963  16.790618    1.644934
10999964  10999964  16.790618    1.644934
10999965  10999965  16.790618    1.644934
10999966  10999966  16.790618    1.644934
10999967  10999967  16.790619    1.644934
10999968  10999968  16.790619    1.644934
10999969  10999969  16.790619    1.644934
10999970  10999970  16.790619    1.644934
10999971  10999971  16.790619    1.644934
10999972  10999972  16.790619    1.644934
10999973  10999973  16.790619    1.644934
10999974  10999974  16.790619    1.644934
10999975  10999975  16.790619    1.644934
10999976  10999976  16.790619    1.644934
10999977  10999977  16.790619    1.644934
10999978  10999978  16.790620    1.644934
10999979  10999979  16.790620    1.644934
10999980  10999980  16.790620    1.644934
10999981  10999981  16.790620    1.644934
10999982  10999982  16.790620    1.644934
10999983  10999983  16.790620    1.644934
10999984  10999984  16.790620    1.644934
10999985  10999985  16.790620    1.644934
10999986  10999986  16.790620    1.644934
10999987  10999987  16.790620    1.644934
10999988  10999988  16.790620    1.644934
10999989  10999989  16.790621    1.644934
10999990  10999990  16.790621    1.644934
10999991  10999991  16.790621    1.644934
10999992  10999992  16.790621    1.644934
10999993  10999993  16.790621    1.644934
10999994  10999994  16.790621    1.644934
10999995  10999995  16.790621    1.644934
10999996  10999996  16.790621    1.644934
10999997  10999997  16.790621    1.644934
10999998  10999998  16.790621    1.644934
10999999  10999999  16.790621    1.644934